.band {
    display: flex;
    flex-direction: column; /* Deixar imagem e texto empilhados */
    align-items: center;
    text-align: center;
    background-color: var(--cor-secao);
    padding: var(--padding-padrao);
    border-radius: var(--border-radius);
    border: var(--border-size) solid var(--cor-borda);
}

.band img {
    width: var(--largura-imagens);
    height: var(--altura-imagens);
    object-fit: cover;
    margin-bottom: 0.5rem; /* Adiciona espaço entre a imagem e o texto */
}
.bandInfo {
    flex: 1;
}
