.Band { 
    display: flex; 
    align-items: center; 
    margin-bottom: var(--margin-padrao); 
    } 
    .Band img { 
    width: var(--largura-imagens); 
    height: var(--altura-imagens); 
    object-fit: cover; 
    margin-right: var(--margin-padrao); 
    } 
    .Bandinfo { 
        flex: 1;
     }